<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <div class="panel panel-default">
            <div class="panel-heading">Bejelentkezés</div>
            <div class="panel-body">
                <form class="form-horizontal" action="/auth/login" method="post">
                    <div class="input-group">
                        <span class="input-group-addon" id="sizing-addon2">@</span>
                        <input type="email" name="email" class="form-control" placeholder="E-mail" aria-describedby="sizing-addon2" />
                    </div>
                    <br/>
                    <div class="input-group">
                        <span class="input-group-addon glyphicon glyphicon-lock"></span>
                        <input type="password" name="password" class="form-control" placeholder="Jelszó" aria-describedby="sizing-addon2" />
                    </div>
                    <br />
                    <button type="submit" class="btn btn-primary"> Belépés</button>
                </form>
            </div>
        </div>
    </div>
</div>